body{
  margin: 0;
}

.collapsible {
  background: linear-gradient(145deg, #e9e1e1, #c4bdbd);
  border-radius: 5rem;
  color: black;
  cursor: pointer;
  padding: 1rem;
  width: 99%;
  text-align: left;
  outline: none;
  font-size: 2rem;
  font-family: 'Bungee', cursive;
  margin: 0.1rem;
}

main{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color:purple;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


.infos {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  gap: 20px;
}


.avatar {
  width: 1rem;
}


.header {
  text-align: center;
  font-size: 3.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dice {
  font-size: 1.5rem;
}

.stats {
  margin-left: 10%;
}

.ab{
  display: flex;
  justify-content: space-around;
}

.skill {
  border-radius: 1rem;
  padding-left: 0.7rem;
  overflow-x: hidden;
  width: min-content;
}

.step {
  background-color: #26092e;
  height: 0.1rem;
  box-shadow: 1px 1px 2px #1e112b, -1px -1px 2px #5c3583;
}

.dices {
  display: grid;
  grid-template-columns: repeat(2, 5.6rem);
}

.dice {
  width: 7rem;
  height: 3rem;
  border-color: #5e267e;
  border-style: outset;
  border-width: 0.1rem;
  border-radius: 0.6rem;
  box-shadow: 6px 6px 12px #26092e, -6px -6px 12px #9825b8;
}

h3 {
  flex-wrap: wrap;
}

.slot {
  padding: 1.2rem;
  border-radius: 2rem;
  background: linear-gradient(145deg, #e9e1e1, #c4bdbd);
  box-shadow: 9px 9px 18px #746f6f, -9px -9px 18px #ffffff;
}
@media only screen and (max-width: 600px) {
  .slot{
    overflow: scroll;
  }
  .skill{
    overflow: scroll;
  }
}

span {
  font-size: 0.9rem;
}

.name {
  font-size: 2rem;
}

.name1 {
  display: flex;
  justify-content: space-between;
}

button {
  font-size: 1.5rem;
  background-color: transparent;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
  border: none;
}

.danoB, .curaB, .sanidadeB, .felicidadeB{
  background-color: #ffffff86;
  border-radius: 5px;
}

.danoB{
  color: red;
}

.curaB{
  color: green;
}

.sanidadeB{
  color: grey;
}

.button:hover {
  cursor: pointer;
}

.vida{
  gap: 20px;
}

.input{
  padding: 2px;
  width: 3rem;
  border-radius: 10px;
}

progress {
  border-radius: 7px; 
  width: 30%;
  height: 1.5rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.586);
}
progress::-webkit-progress-bar {
  background-color: rgb(214, 205, 205);
  border-radius: 7px;
}

.vida::-webkit-progress-value {
  background-color: rgb(0, 245, 61);
  border-radius: 7px;
}

.sanidade::-webkit-progress-value {
  background-color: rgba(69, 172, 95, 0.641);
  border-radius: 7px;
}

.b{
  font-size: 20px;
}

.força, .destreza, .constituição, .carisma, .inteligência, .percepção{
  display: flex;
  justify-content: space-between;
}

.photo{
  width: 100%;
  height: 100%;
}

#photo{
  width: 50%;
  height: 20%;
}

.chose{
  display: none;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align: center;
  width: 150%;
  height: 150%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  background-color: rgb(77, 20, 183);
  border: hidden;
  gap: 0.4rem;
}

.filter{
  display: none;
  position: fixed;
  top: 0;
  width: 150%;
  height: 150%;
  background-color: rgb(0, 0, 0);
  z-index: 2;
}

.results{
  display: none;
  flex-direction: column;
  z-index: 3;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 80%;
  height: 40%;
  border-radius: 1rem;
}

.soma{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Michroma;
  height: 70%;
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
}

.lista{
  font-family: Michroma;
  font-size: 0.8rem;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#lista{
  padding-left: 1rem;
}

.options{
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.566), white);
  font-size: 0.9rem;
  width: 50%;
  font-family: roboto;
  border:#1e112b;
  border-style:ridge;
}

#up{
  font-size: 1rem;
  color: blueviolet;
}